.CodeMirror {
    height: auto;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
    line-height: 130%;
}
.CodeMirror.cm-inline {
    display: inline-block;
    line-height: 150%;
    padding: 0 4px;
    margin: 0 3px;
    vertical-align: middle;
    font-size: smaller;
    border-radius: 3px;
}